<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.springmvc.dao.WarehouseMapper" >
  <resultMap id="BaseResultMap" type="cn.springmvc.model.Warehouse" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SHOP_ID" property="shopId" jdbcType="INTEGER" />
    <result column="GOODS_ID" property="goodsId" jdbcType="INTEGER" />
    <result column="PURCHASE_PRICE" property="purchasePrice" jdbcType="INTEGER" />
    <result column="PRICE" property="price" jdbcType="INTEGER" />
    <result column="COUNT" property="count" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SHOP_ID, GOODS_ID, PURCHASE_PRICE, PRICE, COUNT, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from twarehouse
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="getWarehouseFromCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from twarehouse
    where GOODS_ID = (select id from tgoodsinfo where code = #{code,jdbcType=VARCHAR})
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from twarehouse
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertAll" parameterType="java.util.List">
  <foreach collection="list" item="item" index="index" separator=";"> 
  <if test="item.goodsId == null" >
   insert into twarehouse (SHOP_ID, GOODS_ID, 
      PURCHASE_PRICE, PRICE, COUNT, 
      CREATE_TIME, MODIFY_TIME)
    values ( #{item.shopId,jdbcType=INTEGER}, (select id from tgoodsinfo where code = #{item.code,jdbcType=VARCHAR}), 
      #{item.purchasePrice,jdbcType=INTEGER}, #{item.price,jdbcType=INTEGER}, #{item.count,jdbcType=INTEGER}, 
      now(), now())
   </if>
   <if test="item.goodsId != null" >
    update twarehouse
    <set>
      <if test="item.shopId != null" >
        SHOP_ID = #{item.shopId,jdbcType=INTEGER},
      </if>
      <if test="item.goodsId != null" >
        GOODS_ID = #{item.goodsId,jdbcType=INTEGER},
      </if>
      <if test="item.purchasePrice != null" >
        PURCHASE_PRICE = #{item.purchasePrice,jdbcType=INTEGER},
      </if>
      <if test="item.price != null" >
        PRICE = #{item.price,jdbcType=INTEGER},
      </if>
      <if test="item.count != null" >
        COUNT = COUNT + #{item.count,jdbcType=INTEGER},
      </if>
      MODIFY_TIME = now(),
    </set>
    where GOODS_ID = #{item.goodsId,jdbcType=INTEGER}
   </if>
  </foreach>
  </insert>
  <insert id="insert" parameterType="cn.springmvc.model.Warehouse" >
    insert into twarehouse (ID, SHOP_ID, GOODS_ID, 
      PURCHASE_PRICE, PRICE, COUNT, 
      CREATE_TIME, MODIFY_TIME)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{purchasePrice,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="cn.springmvc.model.Warehouse" >
    insert into twarehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="goodsId != null" >
        GOODS_ID,
      </if>
      <if test="purchasePrice != null" >
        PURCHASE_PRICE,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="count != null" >
        COUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByGoodsId" parameterType="cn.springmvc.model.Warehouse" >
    update twarehouse
    <set >
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        GOODS_ID = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="purchasePrice != null" >
        PURCHASE_PRICE = #{purchasePrice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        COUNT = COUNT + #{count,jdbcType=INTEGER},
      </if>
      now(),
    </set>
    where GOODS_ID = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springmvc.model.Warehouse" >
    update twarehouse
    set SHOP_ID = #{shopId,jdbcType=INTEGER},
      GOODS_ID = #{goodsId,jdbcType=INTEGER},
      PURCHASE_PRICE = #{purchasePrice,jdbcType=INTEGER},
      PRICE = #{price,jdbcType=INTEGER},
      COUNT = #{count,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateAll" parameterType="java.util.List" >
  <foreach collection="list" item="item" index="index" separator=";">
  <if test="item.goodsId != null" >
  update twarehouse
    <set >
      <if test="item.count != null" >
        COUNT = COUNT - #{item.count,jdbcType=INTEGER},
      </if>
      MODIFY_TIME = now(),
    </set>
    where GOODS_ID = #{item.goodsId,jdbcType=INTEGER} and COUNT >= #{item.count,jdbcType=INTEGER}
  </if>
  </foreach>    
  </update>
</mapper>